@model IEnumerable<KanGainNET.Models.Lokalizacja>

@{
    ViewData["Title"] = "Lokalizacje";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="map-page-container">
    <div class="side-menu">
        <h3>NASZE <span style="color: #ff4500;">KLUBY</span></h3>
        <div class="clubs-list">
            @foreach (var klub in Model)
            {
                <div class="club-card" onclick="flyToLocation(@klub.Szerokosc.ToString().Replace(",", "."), @klub.Dlugosc.ToString().Replace(",", "."))">
                    <h4>@klub.Nazwa</h4>
                    <p>@klub.Adres, @klub.Miasto</p>
                </div>
            }
        </div>
    </div>
    <div id="map"></div>
</div>

<script id="klubyData" type="application/json">
    @Html.Raw(Json.Serialize(Model.Select(k => new
    {
            nazwa = k.Nazwa,
            adres = k.Adres,
            lat = k.Szerokosc.ToString().Replace(",", "."),
            lng = k.Dlugosc.ToString().Replace(",", ".")
    })))
</script>

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="~/js/map.js" asp-append-version="true"></script>
}